html{
    font-size: 10px;
}

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.layout{
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f8fd;
}

.layout__main{
    width: 100rem;
}

.main__title{
    margin-bottom: 4rem;
    text-align: center;
}

.main__stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.stars__star{
    font-size: 6rem;
    color: #b4b5bc;
    cursor: pointer;

}

.active{
    color: #4e61ec;
}