html {
    font-size: 10px;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: #E8EFFA;

}

.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__main {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout__container-crono {
    margin-bottom: 1rem;
}

.layout__crono {
    font-size: 7rem;
    font-weight: bold;
    width: 25rem;
}

.layout__btns {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.layout__btn-start, 
.layout__btn-stop {
    width: 100%;
    border: none;
    background-color: #EC3D3D;
    color: white;
    font-weight: 600;
    padding: 0.7rem 0rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.layout__btn-stop {
    background-color: #CCCCCC;
    color: white;
}

.layout__btn-start:hover {
    background-color: rgb(32, 185, 32);
}

.layout__btn-stop:hover {
    background-color: black;
}