html{
    font-size: 10px;
    height: 100%;
}

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    overflow: hidden;
    
}

.layout{
    width: 100%;
    height: 100%;
}

.layout__main{
    width: 100%;
    min-height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__background{
    content: "";
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    position: absolute;
    z-index: -1;
    filter: blur(3rem);
    background-image: url(../media/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.load__number{
    font-size: 7rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 1rem black;
}

.load__btn{
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    background-color: #2E9955;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.load__btn:hover{
    background-color: #30af5e;
}

.load__complete{
    display: block;
    color: #30af5e;
    font-weight: 600;
    font-size: 3.5rem;
    text-shadow: 0 0 1rem black;
    display: none;

}