html{
    font-size: 10px;
}

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.layout{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f8fd;
     
}

.layout__main{
    display: none;
    flex-direction: column;
    justify-content: space-between ;
    height: 60rem;
    width: 60rem;
    border: 1px solid #333;
    border-radius: 5px;

}

.main__messages{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    margin-top: 2rem;
    overflow: auto;
}

.messages__mesage{
    border: 1px solid #aeaeea;
    border-radius: 10px;
    width: 50%;
    margin-left: 1rem ;
    padding: 1rem;
}

.message__name{
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
    color: #444;
    padding-bottom: 0.5rem;
}

.main__form{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.form__input{
    width: 90%;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 1.5rem 2rem;
}

.form__btn{
    width: 10%;
    border: none;
    outline: none;
    background-color: #3a99e5;
    color: white;
    cursor: pointer;
    font-size: 4rem;
    transition: all 300ms ease-in-out;
}

.form__btn:hover{
    background-color: #317ebe;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
}
}

.layout__loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 8rem;
    width: 8rem;   
    
     
    
    
}

.loader__circle{
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border: 5px solid transparent;
    border-top: 5px solid #414c89;
    border-right: 5px solid #414c89;
    border-radius: 50%; 
    animation: loader 1.5s linear infinite;     
    

}